/* LA PAGINA CONTÉ BOOTSTRAP, PERÒ CONTÉ AQUESTS ESTILS CSS */

nav {
    background-color: #F0F5F8;
}

nav a span {
    color: #1ABC9C;
    font-weight: bold;
    text-transform: uppercase; /* transformem el text a majúscules */
    font-size: 25px;
    letter-spacing: 2.5px; /* espai entre lletres */
}

nav a#iniciarsessio {
    margin: 0 5px;
    background: #157347;
    color: white;
}

main div#carruselImatges img {
    height: 550px;
}

main div.container section,
footer div#peupagina {
    padding: 3% 0;
}

main div.container section h2 {
    text-align: center;
    padding: 2% 0;
}

main div.container section div.veuremes {
    padding: 5% 0;
}

main div.container div.card-body p#vermell,
main div.container div.card-body span {
    color: red;
}

main div.container div#activitat {
    width: 25rem;
}

main div.container div#activitat img {
    height: 250px;
    margin: 10px 0;
}

main div.container div#activitat input[type=submit] {
    margin: 5% 0;
}

main div.container section#activitats form#formbuscardata {
    margin: 5% 0;
}

main div.container section#activitats input#boto_buscar_data {
    margin: 5px 0;
}

div#contacte_empresa iframe {
    width: 450px;
    height: 250px;
    border: 0;
}

footer {
    background-color: #1ABC9C;
}

/* PART RESPONSIVE DE LA WEB */

@media screen and (max-width: 385px) { /* quan el dispositiu arriba a 385px */
    nav a span {
        font-size: 20px;
        letter-spacing: 2px;
    }
}

/* RESPONSIVE PART IMATGES INDEX */

@media screen and (max-width: 715px) { /* quan el dispositiu arriba a 715px */
    main div#carruselImatges img {
        height: 500px;
    }
}

@media screen and (max-width: 600px) { /* quan el dispositiu arriba a 600px */
    main div#carruselImatges img {
        height: 450px;
    }
}

@media screen and (max-width: 510px) { /* quan el dispositiu arriba a 510px */
    main div#carruselImatges img {
        height: 375px;
    }
}

@media screen and (max-width: 415px) { /* quan el dispositiu arriba a 415px */
    main div#carruselImatges img {
        height: 350px;
    }
}

@media screen and (max-width: 320px) { /* quan el dispositiu arriba a 320px */
    main div#carruselImatges img {
        height: 275px;
    }
}

@media screen and (max-width: 260px) { /* quan el dispositiu arriba a 260px */
    main div#carruselImatges img {
        height: 250px;
    }
}

/* RESPONSIVE UBICACIÓ MAPA DE GOOGLE */

@media screen and (max-width: 570px) { /* quan el dispositiu arriba a 570px */
    div#contacte_empresa iframe {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 510px) { /* quan el dispositiu arriba a 510px */
    div#contacte_empresa iframe {
        width: 350px;
        height: 250px;
    }
}

@media screen and (max-width: 465px) { /* quan el dispositiu arriba a 465px */
    div#contacte_empresa iframe {
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 405px) { /* quan el dispositiu arriba a 405px */
    div#contacte_empresa iframe {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 355px) { /* quan el dispositiu arriba a 355px */
    div#contacte_empresa iframe {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 315px) { /* quan el dispositiu arriba a 315px */
    div#contacte_empresa iframe {
        width: 150px;
        height: 200px;
    }
}

@media screen and (max-width: 250px) { /* quan el dispositiu arriba a 250px */
    div#contacte_empresa iframe {
        width: 100px;
        height: 150px;
    }
}